{% extends "base.html" %}

{% block page_header %}<h1 class="page-header">Dashboard</h1>{% endblock %}

{% block content %}
    <div>
        <canvas id="orders-chart"></canvas>
    </div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $.getJSON("dashboard/chartdata", function (data) {
            var context = $("#orders-chart").get(0).getContext("2d");
            var ordersChart = new Chart(context).Line(data, chartOptions);
        });
    </script>
{% endblock %}