{% extends "base.html" %}

{% block page_header %}<h1 id="chart-title" class="page-header">Orders</h1>{% endblock %}

{% block content %}
    <div>
        <canvas id="orders-chart"></canvas>
    </div>
    <div>
        <h2 style="margin-left: auto; margin-right: auto; text-align: center; color: #FF6600;">{{ order_total }}</h2>
    </div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">

        $('#chart-title').text(function () {
            return 'Orders for ' + new Date().getFullYear();
        });

        function update() {
            $.getJSON("orders/chartdata", function (data) {
                var context = $("#orders-chart").get(0).getContext("2d");
                var ordersChart = new Chart(context).Line(data, chartOptions);
                window.setTimeout(update, 10000);
            });
        }

        update();
    </script>
{% endblock %}